<div class="mb-12 mt-22 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
  <app-card
    iconKey="money"
    title="Balance del día"
    [value]="formatBalance(balanceDia.balance)"
    [valueColor]="getValueColor(balanceDia.balance)"  
    [trendPercent]="formatPorcentaje(balanceDia.porcentajeMejora)"
    trendText="Respecto a ayer"
    [trendColor]="getPorcentajeColor(balanceDia.porcentajeMejora)"
    gradientFrom="from-blue-600"
    gradientTo="to-blue-400"
    shadowColor="shadow-blue-500/40"
  ></app-card>

  <app-card
    iconKey="sales"
    title="Balance de semana"
    [value]="formatBalance(balanceSemana.balance)"
    [valueColor]="getValueColor(balanceSemana.balance)"  
    [trendPercent]="formatPorcentaje(balanceSemana.porcentajeMejora)"
    trendText="Respecto a hace 7 días"
    [trendColor]="getPorcentajeColor(balanceSemana.porcentajeMejora)"
    gradientFrom="from-green-600"
    gradientTo="to-green-400"
    shadowColor="shadow-green-500/40"
  ></app-card>

  <app-card
    iconKey="calendar"
    title="Balance del mes"
    [value]="formatBalance(balanceMes.balance)"
    [valueColor]="getValueColor(balanceMes.balance)"  
    [trendPercent]="formatPorcentaje(balanceMes.porcentajeMejora)"
    trendText="Respecto al mes pasado"
    [trendColor]="getPorcentajeColor(balanceMes.porcentajeMejora)"
    gradientFrom="from-orange-600"
    gradientTo="to-orange-400"
    shadowColor="shadow-orange-500/40"
  ></app-card>
</div>
