<div class="mb-12 mt-22 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
  <app-card
    iconKey="money"
    title="Balance del día"
    [value]="formatBalance(balanceDia.balance)"
    [valueColor]="getValueColor(balanceDia.balance)"  
    [trendPercent]="formatPorcentaje(balanceDia.porcentajeMejora)"
    trendText="Respecto a ayer"
    [trendColor]="getPorcentajeColor(balanceDia.porcentajeMejora)"
    gradientFrom="from-blue-600"
    gradientTo="to-blue-400"
    shadowColor="shadow-blue-500/40"
  ></app-card>

  <app-card
    iconKey="sales"
    title="Balance de semana"
    [value]="formatBalance(balanceSemana.balance)"
    [valueColor]="getValueColor(balanceSemana.balance)"  
    [trendPercent]="formatPorcentaje(balanceSemana.porcentajeMejora)"
    trendText="Respecto a hace 7 días"
    [trendColor]="getPorcentajeColor(balanceSemana.porcentajeMejora)"
    gradientFrom="from-green-600"
    gradientTo="to-green-400"
    shadowColor="shadow-green-500/40"
  ></app-card>

  <app-card
    iconKey="calendar"
    title="Balance del mes"
    [value]="formatBalance(balanceMes.balance)"
    [valueColor]="getValueColor(balanceMes.balance)"  
    [trendPercent]="formatPorcentaje(balanceMes.porcentajeMejora)"
    trendText="Respecto al mes pasado"
    [trendColor]="getPorcentajeColor(balanceMes.porcentajeMejora)"
    gradientFrom="from-orange-600"
    gradientTo="to-orange-400"
    shadowColor="shadow-orange-500/40"
  ></app-card>
</div>

<h2 class="text-xl font-semibold mb-2">Ventas</h2>

<div class="h-[calc(100vh-23rem)] min-h-[15rem] overflow-auto border border-gray-200 rounded mb-6">
  <table class="min-w-full bg-white border border-gray-200">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Fecha</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Valor</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventasPaginadas" class="hover:bg-gray-50">
        <td class="px-4 py-2 border-t text-sm text-gray-800">
          {{ venta.fecha | date:'medium' }}
        </td>
        <td class="px-4 py-2 border-t text-sm text-gray-800">
          {{ venta.valor | currency:'COP ':'symbol':'1.0-0' }}
        </td>
        <td class="px-4 py-2 border-t text-sm text-gray-800">
          <button (click)="verVenta(venta)"
            class="px-3 py-1 rounded bg-blue-100 hover:bg-blue-200 text-blue-700" title="Ver venta">
            Ver
          </button>
        </td>
      </tr>

      <tr *ngIf="listaVentas.length === 0">
        <td colspan="3" class="px-4 py-4 text-center text-gray-500">No hay ventas registradas.</td>
      </tr>
    </tbody>
  </table>
  <!-- Paginación -->
  <div class="flex justify-end items-center gap-2 mt-4 px-2">
    <button (click)="paginaActual = paginaActual - 1" [disabled]="paginaActual === 1"
      class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 disabled:opacity-50">Anterior</button>

    <span class="text-sm text-gray-600">Página {{ paginaActual }} de {{ totalPaginas }}</span>

    <button (click)="paginaActual = paginaActual + 1" [disabled]="paginaActual === totalPaginas"
      class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300 disabled:opacity-50">Siguiente</button>
  </div>
</div>

