<li>
    <a [routerLink]="routerLink" [attr.aria-current]="active ? 'page' : null" [ngClass]="{'active': active}" href="#">
      <button type="button" [ngClass]="buttonClasses">
        <!-- Se inyecta el ícono sanitizado obtenido a partir de la clave -->
        <span *ngIf="sanitizedIcon" class="w-5 h-5 text-inherit" [innerHTML]="sanitizedIcon"></span>
        <!-- Texto del botón -->
        <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
          {{ text }}
        </p>
      </button>
    </a>
  </li>