[Unit]
Description=Auto Deploy Service
After=network.target

[Service]
ExecStart=/bin/bash /root/deploy.sh
Restart=always
User=root
WorkingDirectory=/root

[Install]
WantedBy=multi-user.target